[pretty]
    slog = format: %C(yellow)%h%C(reset) %C(green)%s%C(reset) %C(cyan)<%ar>%C(reset) %C(blue)%an%C(reset) 
    bw = format:%C(yellow)%h%C(reset) | %C(green)%as%C(reset) | %>(20,trunc)%C(red)%d%C(reset)%C(cyan)%x09%s%C(reset)
[alias]
	alias = config --get-regexp alias
	st = status
	co = checkout
	br = branch
	last = log -1 HEAD --stat --pretty=slog
	lo = log --pretty=slog
	lg = log --graph --pretty=slog
	lb = log --pretty=bw
	se =!git rev-list --all | xargs git grep -F
	ci = commit
	cm = commit -m
	cp = cherry-pick
	tidy-up = !git checkout master && git branch | grep -v "master" | xargs git branch -D
	mycommits = lo --author=\".*[Dd]eng\\s*[Ll]ei.*\"
	sync = !git pull --no-edit && git push
	mm = merge --no-edit
	unstage = restore --staged
	sw = switch
	visual = !gitk
	tree = log --all --graph --decorate --oneline
	fix = "!f(){$EDITOR -p `git diff --name-only --diff-filter=U`; }; f"
	undo = !git clean -df && git checkout -- .
	stash = "git add .; git stash"
	