[pretty]
    slog = format: %C(yellow)%h%C(reset) %C(green)%s%C(reset) %C(cyan)<%ar>%C(reset) %C(blue)%an%C(reset) 
[alias]
	alias = config --get-regexp alias
	st = status
	co = checkout
	sw = switch
	br = branch
	new = branch -b
	aa = add -A
	cm = commit -m
	last = log -1 HEAD --stat --pretty=slog
	lo = log --pretty=slog -10
	ll = log --pretty=slog
	cp = cherry-pick
	tidy = !git checkout master && git branch | grep -v "master" | xargs git branch -D
	sync = !git pull --no-edit && git push
	mm = merge --no-edit
	unstage = restore --staged
	undo = !git clean -df && git checkout -- .
	wt = worktree list
	wta = worktree add
	wtd = worktree remove
	se =!git rev-list --all | xargs git grep -F
	visual = !gitk
	fm = fetch
